body {
    background-color: purple;
    color: honeydew;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 1rem auto;
    text-align: center;
    padding: 20px;
}

h1 {
    color: purple;
    font-size: 100pt;
}

.center {
    margin:1rem auto;
    width: 95%;
    text-align: center;
    border: 3px solid #222;
    padding: 1rem;
}

.header {
    text-align: left
}

.table {
    text-align: center;
    color: #222;
}

.btn {
    margin: 0.65rem;
}
