@page
@model NET_9_Business_App_Razor_Pages.Pages.Employees.AddModel
@{
    Layout = "_Layout";
}


<div class="center">
    @section header_title {<h3 style="color:springgreen;">Add Employee</h3>}

</div>