@page
@model NET_9_Business_App_Razor_Pages.Pages.Employees.AddEmployeeModel
@{
}
<style>
    body {
        text-align: center;
        margin: auto 1rem;
        background-color: #222;
        color: whitesmoke;
    }
</style>

<div class="center">
    <h3 style="color:orangered;">Add Employee</h3>
</div>