@page "{EmployeeId:int?}"

@model NET_9_Business_App_Razor_Pages.Pages.Employees.IndexModel
@{
}
<style>
    body {
        text-align: center;
        margin: auto 1rem;
        background-color: #222;
        color: whitesmoke;
    }
</style>

<div class="center">
    <h3 style="color:dodgerblue;">Employees Page</h3>
</div>
<br />
<form method="post" action="/employees/edit/@Model.EmployeeId?handler=save">
    @Html.AntiForgeryToken();
    <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />

    <button type="submit" class="btn btn-outline-primary btn-sm">Save</button>
</form>

<form method="post" action="/employees/edit/@Model.EmployeeId?handler=delete">
    @Html.AntiForgeryToken();
    <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />

    <button type="submit" class="btn btn-outline-primary btn-sm">Delete</button>
</form>