@page "{EmployeeId:int?}"

@model NET_9_Business_App_Razor_Pages.Pages.Employees.IndexModel
@{
    Layout = "_Layout";
}

<div class="center">
    @section header_title {<h3 style="color:dodgerblue;">Employees Page</h3>}
</div>
<br />
