@page "/Employees/Index"
@model NET_9_Business_App_Razor_Pages.Pages.Employees.IndexModel
@{
}
<style>
    body {
        text-align: center;
        margin: auto 1rem;
        background-color: #222;
        color: whitesmoke;
    }
</style>

<div class="center">
    <h3 style="color:dodgerblue;">Employees Page</h3>
</div>
