 @page
@model NET_9_Business_App_Razor_Pages.Pages.IndexModel
@{
}
<style>
    body {
        text-align: center;
        margin: auto 1rem;
        background-color: #222;
        color: whitesmoke;
    }
</style>

<div class="center">
<h2>Employees Management Page</h2>
</div>
